body, ul, li, p {
  margin: 0; 
  padding: 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
 } 
 
 body {
  max-width: 100%;
 }

 header {
  width: auto;
  height: 20%;
  background: rgb(255, 201, 22);
 }

 header ul {
  list-style: none;
  justify-content: center;
  display: flex;
}

 a {
   text-decoration:none;
   color: white;
   border-radius: 0.6rem;
 }

 a:hover {
  background: rgb(228, 175, 0) ;
 }

 #title1 {
  justify-content: center;
  display: flex;
 }

#tec {
  color: rgb(122, 121, 121);
  margin: 0%;
  display: inline-block;
}

#blog {
  color: white;
  margin: 0%;
  display: inline-block;
}

.menu {
  display: flex;
  text-align: center;
  }

.menu li {
  margin-left: 10px;
  }
.menu li a {
  display: block;
  margin: auto;
  padding: 10px;
  }

section {
  margin: 0 auto;
}

main {
  width: 660px;
  margin: 0 auto;
  
  }

nav {
  height: 210px; 
  width: 185px;
  background: white;
  display: block; 
  position: relative;
  left: 103%; 
  bottom: 1178px;
  padding: 10px;
  }
  

.post1 {
  align-items: center;
  background:white;
  padding: 0px 10px 0px 10px;
} 

.post2 {
  align-items: center;
  background: white;
  padding: 0px 10px 0px 10px;
}

.post4 {
  display: block;
  background: white;
  position: relative;
  right: 5%;
  width: 185px;
  padding: 10px;
  list-style: none;
}

h2 {
  color: rgb(255, 201, 22);
  margin-bottom: 0%;
}

h3 {
  margin-top: 0%;
}

 p {
  text-align: justify;
}

nav a {
  color: yellow;
}

nav h3 {
  background: rgb(155, 155, 155);
  padding: 3px;
}

nav footer {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  background: rgb(156, 156, 156);
  width: 660px ;
  position: relative;
  bottom: -780px;
  right: 689px;
}