<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background-color: rgb(225, 230, 235);">
    <header>
        <div id="title1">
            <span>
                <h1 id="tec">Tec</h1>
                <h1 id="blog">Blog</h1>
            </span>
        </div>
        <ul class="menu">
            <li><strong><a href="home">Home</a></strong></li>
            <li><strong><a href="jogos">Jogos</a></strong></li>
            <li><strong><a href="celulares">Celulares</a></strong></li>
            <li><strong><a href="informatica">Informática</a></strong></li>
            <li><strong><a href="eletronicos">Eletrônicos</a></strong></li>
        </ul>
    </header>
    <main>
       <div class="post1">
            <h2>Título da postagem 1</h2>
            <h3>Postado em 20 de Março de 2022</h3>
            <img src="../static/img/imagem1.jpg">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor velit officia ea itaque incidunt corporis impedit a, odio quia est doloribus earum suscipit possimus cupiditate nostrum aliquid nobis facere autem?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, quibusdam voluptatibus perferendis a rerum vitae odit nesciunt modi est illum nisi, dolorum consequuntur veritatis cum ipsam, accusamus inventore aliquam necessitatibus?</p>
        <span class="post3">
            <h2>Postagens recentes</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt expedita aut consectetur optio, ullam nobis architecto assumenda</p>
        </span>
       </div> 
       <div class="post2">
            <h2>Título da postagem 2</h2>
            <h3>Postado em 10 de Março de 2022</h3>
            <img src="../static/img/imagem2.jpg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam repellat perferendis architecto! Sed deleniti veniam ad quos velit exercitationem eum, accusantium inventore rem. Exercitationem dicta provident maiores pariatur soluta ratione?</p>
       </div>
    </main>
</body>
</html>